@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --purple:#814096;
    --grey: #818C8C;
    --blue:#43B8B8;
    --gradient:linear-gradient(90deg, var(--grey), var(--blue));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

*::selection{
    background:var(--blue);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:#f9f9f9;
}

section{
    min-height: 100vh;
    padding:0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

/**************************************************/

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient);
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

/**************************************************/

.formmm{
    text-align: center;
}

.formmmm{
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:#2cccc4;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*********************************************************/

header .logo{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}


/*********************************************************/

.navbar{
    display: inline-flex;
    align-items: center;
}

header .navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin-left: 10px;
    margin-right: 30px;
}

header .navbar a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

header .navbar a:hover::after{
    width: 75%;
    background: #385b64;
}

header .navbar a:hover{
    color: #385b64;
}

header nav.navbar{
    word-spacing: 30px;
}

/**************************************************/

.navbar ul{
    list-style: none;
}

.navbar ul li{
    background: #2cccc4;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    position: relative;
    font-size: 14px;
    text-align: center;
}

.navbar ul li:hover{
    background: #5ad7d1;
}

.navbar ul ul{
    display: none;
}

.navbar ul li:hover > ul{
    display: block;
}

/************************************************************/

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

/* media queries  */

@media (max-width:1200px){
    
    html{
        font-size: 55%;
    }

}

@media (max-width:991px){
    
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

}

@media (max-width:768px){

    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background:#fff;
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .column .content .buttons a{
        width:100%;
        text-align: center;
    }

    .column .content .buttons a:last-child{
        margin: 1rem 0;
    }

}

/* *********************************************************************************** */

.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100%;    
    margin-top: 125px;
}

.display_image{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

.main p{
    font-size: 2.5rem;
}

.form1{
    width: 500px;
    height: 65px;
    color: #000000;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1.5rem;
}

.form1:hover{
    border-color: crimson;
}

.form1:focus{
    border-color: #2cccc4;
}

.form2{
    width: 90%;
    height: 90%;
    color: #000000;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1.5rem;
}

.form2:hover{
    border-color: crimson;
}

.form2:focus{
    border-color: #2cccc4;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient);
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
    margin-bottom: 50px;
    width: 240px;
    height: 50px;
    text-align: center;
}

.btn:hover{
    transform: scale(1.1);
}

/* footer section starts */

.footer{
    margin-top: 8.5rem;
    padding-top: 3rem;
    /* background:url("untitled.png") no-repeat; */
    background-color: #385b64;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer  h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
}

.footer  p{
    font-size: 1.5rem;
    padding:.5rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#eee;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
    border-top: .1rem solid #fff5;
    padding:2.5rem 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* footer section starts */